*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  // background-color: var(--secondary-clr);

  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // SCROLLBAR
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--secondary-clr);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--active-clr);
  }

  &:after {
    z-index: -1;
    content: "";
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--page-background);
  }
}
