@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "Druk";
  src: url("druk.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "md-out";
  src: url("md-out.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
