@import "../../style/common";

.wrap {
  display: flex;
  flex-direction: column;
}

.menu {
  z-index: 9999;
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  @media screen and (max-width: $mobile) {
    display: none;
  }
  &item {
    align-self: flex-end;
    text-decoration: none;
    margin-bottom: 8px;
    position: relative;
    transform-origin: right;
    &:hover {
      .menutext {
        color: var(--secondary-dark-clr);
      }
    }
    &_active {
      .menutext {
        color: var(--primary-clr);
      }
      .menuline {
        height: 100%;
        background-color: var(--secondary-clr);
      }
    }
  }
  &text {
    padding: 4px 0;
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    font-family: "md-out";
    font-weight: normal;
    margin: 8px 0;
    color: var(--secondary-clr);
    text-decoration: none;
    transition: all 0.12s ease;
  }
  &line {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $divider-height;
    background-color: var(--secondary-clr);
  }
}
