.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu {
  z-index: 9999;
  position: fixed;
  top: 40px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px; }
  @media screen and (max-width: 660px) {
    .menu {
      display: none; } }
  .menuitem {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-decoration: none;
    margin-bottom: 8px;
    position: relative;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right; }
    .menuitem_active .menutext {
      color: var(--primary-clr); }
    .menuitem_active .menuline {
      height: 100%;
      background-color: var(--secondary-clr); }
  .menutext {
    padding: 4px 0;
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    font-family: "md-out";
    font-weight: normal;
    margin: 8px 0;
    color: var(--secondary-clr);
    text-decoration: none; }
  .menuline {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: var(--secondary-clr); }
