@import "../../styles/index.scss";

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.introduction {
  margin: 0;
  max-width: 860px;
  font-family: "made-outer", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: var(--primary-clr);
  @include fluid-type($mobile, $desktop, 22px, 32px);
  @include fluid-size(margin-top, $mobile, $desktop, 32px, 92px);
  @include fluid-size(margin-bottom, $mobile, $desktop, 52px, 92px);
  span {
    font-weight: bold;
    color: var(--active-clr);
  }
}
