@import "../../styles/variables.scss";

.wrap {
  display: flex;
  margin-top: 140px;

  @media (max-width: 2000px) {
    flex-direction: column;
  }

  @media (max-width: $breakpoint-tablet-l) {
    margin-top: 60px;
  }
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 80px;

  @media (max-width: 2000px) {
    margin-right: 0;
    margin-bottom: 80px;
  }

  @media (max-width: $breakpoint-tablet-m) {
    margin-bottom: 50px;
  }
}

.title {
  font-size: 66px;
  letter-spacing: -0.01em;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-tablet-xl) {
    font-size: 46px;
  }

  @media (max-width: $breakpoint-tablet-l) {
    font-size: 36px;
  }
}

.description {
  font-size: 18px;
  line-height: 150%;
  max-width: 500px;
  margin: 0;
}

.grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 80px;
  row-gap: 60px;

  @media (max-width: 2000px) {
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (max-width: $breakpoint-desktop-l) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: $breakpoint-desktop-m) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 30px;
  }

  @media (max-width: $breakpoint-tablet-xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-tablet-m) {
    grid-template-columns: repeat(1, 1fr);
  }
}
