@import "../../../../../style/scss-tokens.scss";

.wrap {
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
}

.link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 6%;
  margin-bottom: 16px;
  @media screen and (min-width: $desktop) {
    margin-right: 80px;
  }
  @media screen and (max-width: $mobile) {
    margin-right: 30px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: var(--secondary-clr);
  transition: fill 0.15s ease-in-out;
}

.medianame {
  pointer-events: none;
  z-index: 999999999;
  position: absolute;
  padding: 8px;
  background-color: var(--secondary-dark-clr);
  font-family: "md-out", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.gh {
  &:hover {
    .icon {
      fill: #24292e;
    }
  }
}

.fb {
  &:hover {
    .icon {
      fill: #79a2ff;
    }
  }
}

.at {
  &:hover {
    .icon {
      fill: #fbd13a;
    }
  }
}

.in {
  &:hover {
    .icon {
      fill: #a0d8ff;
    }
  }
}
