@import "./styles/index.scss";

.lightTheme {
  --primary-clr: #000;
  --secondary-clr: #f8f8f8;
  --active-clr: rgb(0, 0, 0);
  --hover-clr: rgba(0, 0, 0, 0.04);
  --page-background: linear-gradient(
    180deg,
    rgba(238, 231, 174, 1) 13%,
    rgba(143, 195, 255, 1) 26%
  );
}

.darkTheme {
  --primary-clr: #ffebeb;
  --secondary-clr: #1d1d1d;
  --active-clr: #f45;
  --hover-clr: rgba(0, 0, 0, 0.15);
  --page-background: linear-gradient(
    to bottom,
    rgb(0, 0, 110),
    rgb(255, 196, 0)
  );
}

.root {
  width: 100%;
  @include fluid-size(padding-top, $mobile, $desktop, 32px, 80px);
  @include fluid-padding($mobile, $desktop, 32px, 120px);
  ::selection {
    background: var(--active-clr);
    color: var(--secondary-clr);
  }
}

.wrap {
  position: relative;
  margin: 0 auto;
  max-width: $desktop;
}

.themeSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width: $tablet) {
    position: relative;
    margin-bottom: 24px;
    top: unset;
    right: unset;
  }
}
