.outercursor {
  position: fixed;
  z-index: 99999;
  pointer-events: none;
  stroke: var(--secondary-clr);
  stroke-width: 4px;
  width: 80px;
  height: 80px;
  mix-blend-mode: difference;
  transform: translate(-200px, -200px);
  fill: none;
}

.innercursor {
  position: fixed;
  z-index: 99999;
  pointer-events: none;
  width: 24px;
  height: 24px;
  stroke: var(--secondary-clr);
  mix-blend-mode: difference;
  transform: translate(-200px, -200px);
  stroke-width: 4px;
}
