$max-width: 2800px;

$breakpoint-desktop-xl: 1800px;
$breakpoint-desktop-l: 1640px;
$breakpoint-desktop-m: 1280px;

$breakpoint-tablet-xl: 1024px;
$breakpoint-tablet-l: 768px;
$breakpoint-tablet-m: 640px;

$breakpoint-mobile-xl: 480px;
$breakpoint-mobile-l: 400px;
$breakpoint-mobile-m: 320px;
